<ion-header>
  <ion-icon name="arrow-round-back" class="backIcon" (click)="navToBack()"></ion-icon>
  <ion-toolbar color="header">
    <ion-title text-center >BOOK COURT</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding class="background-gradient">
  <span *ngIf="dataList">
   <ion-grid *ngIf="dataList.length > 0">
    <ion-row>
      <ion-col>
        <div *ngFor="let data of dataList let i=index" [class]="data.status == 'booked' ? 'courtBooked' : (data.status == 'approved' ? 'courtBooked' : (data.status == 'new' ? 'courtAvail' : 'courtAvail'))" (click)="data.status == 'booked' ? booked() : (data.status == 'approved' ? booked() : (data.status == 'new' ? bookCourt(data.courtid) : bookCourt(data.courtid)))">
          Court {{data.courtid}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-row>
            <ion-col col-1 class="booked"><div></div></ion-col>
            <ion-col col-11>Booked</ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-1 class="available"><div></div></ion-col>
            <ion-col col-11>Available</ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </span>
</ion-content>