$BACKGROUND_TOP: #5199E2;
$BACKGROUND_BOTTOM: #5199E2;
$BACKGROUND_TRANSPARENCY: rgba(255,255,255,0.3);
.background-gradient{
        background: $BACKGROUND_TOP;
        background-size: cover;
    }

.scroll-content{
     background: $BACKGROUND_TOP;
        background-size: cover;
}

ion-footer{
    background: #504f4f;
    color: #fff;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede;
}
.list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner{
    border-bottom:0 !important;
}
